@mixin mq($size) {
	@if $size == xxs {
		@media (max-width: 360px) {
			@content;
		}
	} @else if $size == xss {
		@media (max-width: 479px) {
			@content;
		}
	} @else if $size == xs {
		@media (max-width: 575.98px) {
			@content;
		}
	} @else if $size == sm {
		@media (max-width: 767.98px) {
			@content;
		}
	} @else if $size == md {
		@media (max-width: 991.98px) {
			@content;
		}
	} @else if $size == lg {
		@media (max-width: 1199.98px) {
			@content;
		}
	} @else if $size == xl {
		@media (max-width: 1399.98px) {
			@content;
		}
	} @else if $size == md-min {
		@media (min-width: 992px) {
			@content;
		}
	} @else if $size == lg-min {
		@media (min-width: 1200px) {
			@content;
		}
	} @else if $size == xxl {
		@media (min-width: 1400px) {
			@content;
		}
	} @else if $size == xxl-1 {
		@media (min-width: 1800px) {
			@content;
		}
	} @else if $size == sm-md {
		@media (min-width: 767.98px) and (max-width: 991.98px) {
			@content;
		}
	} @else if $size == sm-lg {
		@media (min-width: 767.98px) and (max-width: 1199.98px) {
			@content;
		}
	} @else if $size == md-lg {
		@media (min-width: 991.98px) and (max-width: 1199.98px) {
			@content;
		}
	}
}

@mixin flexCenter {
	display: flex;
	align-items: center;
	justify-content: center;
}
