// colors
$white: #fff;
$black: #000;
$green: #207733;

$primary: #FCC028;


// fonts
$poppins-regular: "PoppinsRegular";
$poppins-medium: "PoppinsMedium";
$poppins-semibold: "PoppinsSemibold";

$primary-font: $poppins-medium;
$logo-font: "ImperialScript"